.footer{
    background-color: black;
    color: white;
    height: 350px;
    bottom: 0;
    position: relative;
}
.footer .fotter-bottom{
    background-color: rgb(17, 14, 14);
    /* color: floralwhite; */
    text-align: center;
    bottom: 0px;
    height: 40px;
    width: 100%;
    position: absolute;
    padding: 5px;
}

.footer .fotter-content{
    border: 1px solid rgb(167, 164, 164);
    height: 300px;
    display: flex;
}
h1{
    text-align: center;
    
}
.form-feedback{
    margin-left: 5rem;
    size: 25px;
    padding: 3px;
    
}
.form-feedback button{
    margin-top: 5px;
}
.contacts-fotter{
    margin-left: 20px;
}
.footer .fotter-section contact .text-input contact-input{
height: 10px;
width: 100px;
margin-left: 20px;
}
.footer .fotter-content .fotter-section{
    flex: 1;
    border: 1px solid white transparent;
}




